################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FizzBuzz/obj
/FizzBuzz/bin
/FizzBuzz.Tests/obj
/FizzBuzz.Tests/bin
/FizzBuzz/FizzBuzz.csproj
/packages
